# stateless JWT authentication
JWT_SECRET=
JWT_ISSUER=Minigram
JWT_AUDIENCE=MinigramClient

# Minigram Chats & Messages service
CHATS_DB_NAME=minigram_chats
CHATS_DB_USER=minigram
CHATS_DB_PASSWORD=minigram
CHATS_DB_PORT=5432
CHATS_SPRING_PROFILES=pg

# Service ports
CHATS_SERVICE_PORT=8080
