# Spring Servlet web-server
SERVER_PORT=8080

# stateless JWT authentication
JWT_SECRET=

# database (postgres profile)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=minigram_chats
DB_USERNAME=minigram
DB_PASSWORD=minigram
